//ODOO 15
.o_background_header{
    position: relative;
    }
.treming-header-design{
    position: absolute;
    top: -825px;
    right: -825px;
    z-index: -1;
}

.company-logo{
    margin-left: 3rem;
}

.company-tagline-container{
    display: block;
    justify-items: end;
}
.company-tagline{
    max-width: 50% !important;
    color: #FFFFFF !important;
}
